.board__wrapper {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    
}
.board {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding: 0 0 100%;
    box-sizing: border-box;
    border: 2px solid;
}
.board__item {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 25%;
    font-size: 5em;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 4px;
}